<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-ps-autodilab-sounak-testing-angdfndjfcg7cmca.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3b7ef9f3-48fc-4d29-a9f8-3de02b79dac0/resourceGroups/rg-dev-autodilab/providers/Microsoft.Web/sites/func-ps-autodilab-sounak-testing</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://func-ps-autodilab-sounak-testing-angdfndjfcg7cmca.scm.eastus-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>